.parallax {
	display: block;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 0;
}
.parallax-container {
	overflow: hidden;
}
.parallax-container, .parallax figcaption {
	background: rgba(255, 255, 255, 0.67);
}
.parallax-layers {
	margin: 0 auto;
	position: relative;
	cursor: crosshair;
}
.parallax-layers img {
	max-width: none;
	position: absolute;
}