.wm-parallax {
  text-align: center;
}
.wm-parallax ul {
  padding: 0;
  display: inline-block;
  background: url('../../../../wp-admin/images/spinner-2x.gif') center center no-repeat;
}
.wm-parallax img {
  max-width: 100%;
  height: auto;
}
